*{
    margin: 0%;
    padding: 0%;
    font-family: "Marko One", serif;
}

/* styles.css */
body {
    background: url('https://static.vecteezy.com/system/resources/previews/006/879/154/large_2x/abstract-and-pattern-background-illustration-with-gradient-color-of-violet-this-luxurious-background-is-suitable-for-presentation-poster-wallpaper-personal-website-ui-and-ux-experiences-etc-free-photo.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: rgb(70, 7, 129);
    box-shadow: 1px 1px 5px black;
}

.mainCard{
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 36px rgb(0, 0, 0);
}

.buttonCard{
    padding-top: 10px;
    border-radius:5px 5px 0px 0px;
    box-shadow: 2px 2px 5px rgb(179, 179, 179);
    transition: all 0.5s;
}

.btn1{
    padding: 15px;
    border: 0;
    transition: all 0.5s;
}

.btn1:active{
    box-shadow: 1px 1px 2px grey;
}

.btn1:hover{
    background-color: #bbbbbb;
    box-shadow: 1px 1px 2px grey;
}


.bno1{
    border-radius: 10px 0px 0px 0px;
}
.bno2{
    border-radius: 0px 0px 0px 0px;
}
.bno3{
    border-radius: 0px 10px 0px 0px;
}

/* #################################################################### */

/* Input section */

.inputForms{
    height: 400px;
}

/* #################################################################### */


/* table */

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}

/* Pi chart section */

.piChartContainer{
    border-radius: 5px;
    box-shadow: 2px 1px 4px black;
}